build/
*.suo
*.user
bin
Bin
obj
_ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
TestResult.xml
*.orig
.hg/
.hgignore
packages/
*.sln.ide/
artifacts/
TestResults/
.vs/
*.lock.json
*.ncrunch*
.idea/
.build/
docs/_site/
docs/Gemfile.lock
docs/_build/
src/FluentValidation.Tests.Benchmarks/BenchmarkDotNet.Artifacts/
