@model FluentValidation.Tests.AspNetCore.ClientsideModel
<div>
    <input asp-for="Required" />
    <input asp-for="Required2" />
    <input asp-for="CreditCard" />
    <input asp-for="Email" />
    <input asp-for="EqualTo" />
    <input asp-for="Length" />
    <input asp-for="MaxLength" />
    <input asp-for="MinLength" />
    <input asp-for="Range" />
    <input asp-for="RegEx" />
    <input asp-for="ExactLength" />
    <input asp-for="LessThan"/>
    <input asp-for="GreaterThan" />
    <input asp-for="GreaterThanOrEqual" />
    <input asp-for="GreaterThanOrEqualProperty"/>
    <input asp-for="GreaterThanOrEqualFunc" />
    <input asp-for="LessThanOrEqual" />
    <input asp-for="LessThanOrEqualProperty" />
    <input asp-for="LessThanOrEqualFunc" />
    <input asp-for="LengthWithMessage"/>
    <input asp-for="CustomPlaceholder" />
    <input asp-for="LengthCustomPlaceholders"/>
    <input asp-for="CustomName" />
    <input asp-for="LocalizedName" />
    <input asp-for="CustomNameValueType" />
    <input asp-for="MessageWithContext"/>
    <input asp-for="LocalizedMessage"/>
	@Html.Partial("_TestPartial", Model)
</div>
