@page
@model FluentValidation.Tests.TestPageModelWithMultipleRuleSets

<div>
  <input asp-for="Test.CustomName1" />
  <input asp-for="Test.CustomName2" />
  <input asp-for="Test.CustomName3" />
</div>
