---
---

@import "{{ site.theme }}";

h1 img {
  width: 400px;
}

#download-nuget {
  width: 220px;

  span {
    background: transparent url('https://raw.githubusercontent.com/NuGet/Media/master/Images/MainLogo/32x32/nuget_32.png') 12px 50% no-repeat;
    background-size: 23px;
  }
}
