<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="portable40-net40+sl5+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable40-net40+sl5+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable40-net40+sl5+win8+wp8+wpa81" />
</packages>